@import "reset";

$light-purple: #a73afd;
$dark-yellow: #fca95d;
$light-gray: #9e9ea6;
$moderate-gray: #8e8d8d;

.root {
  width: 100%;
}

.header {
  width: 100%;
  height: 110px;
  background: linear-gradient(
      0deg,
      rgba(36, 36, 36, 0.05) 0,
      rgba(36, 36, 36, 0.05) 100%
    ),
    linear-gradient(
      97deg,
      #ed3cca 0.49%,
      #df34d2 14.88%,
      #d02bd9 29.27%,
      #bf22e1 43.14%,
      #ae1ae8 57.02%,
      #9a10f0 70.89%,
      #8306f7 84.76%,
      #7c1af8 99.15%
    );
}

.header-container {
  max-width: 1640px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.search-inp {
  width: 50%;
  height: 24px;
  font-size: 18px;
  line-height: 24px;
  padding: 17px 60px 17px 20px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 12px;

  &::placeholder {
    color: rgb(180, 180, 180);
  }
  &:active,
  :hover,
  :focus {
    outline: none;
    outline-offset: 0;
  }
}

.basket-btn {
  position: absolute;
  right: 1rem;
  width: 4rem;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  transition: 0.5s;
  outline: 0.5rem solid transparent;

  &.active {
    width: 8rem;
    border-radius: 12px;
  }
  &.active > img {
    margin-left: -4rem;
  }
  //эффект наведения на корзину,при нажатии на стрелки слайдера
  &:hover {
    outline: 0.5rem solid #fff5;
  }
  &::before {
    position: absolute;
    content: attr(data-product-count);
    top: -0.5rem;
    right: -0.5rem;
    color: #fff;
    width: 2rem;
    height: 2rem;
    background-color: #ff4444;
    border-radius: 50%;
    text-align: center;
    line-height: 2rem;
  }
}

.basket-img {
  background-image: url(./pictures/basket.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-top: 7px;
}
.carousel-container {
  max-width: 1640px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  // Показываем полупрозрачные кнопки при наведении на контейнер
  &:hover {
    .carousel-btn {
      opacity: 0.5;
    }
  }
}
// Скрываем кнопки по умолчанию
.carousel-btn {
  opacity: 0;
  transition: opacity 0.3s ease;
  background: #e9e9eb;
  border-radius: 15px;
  font-size: 18px;
  outline: 0.8rem solid #46054500;
  position: absolute;
  z-index: 5;

  &.left {
    left: 10px;
    background: #e9e9eb url(./pictures/left-arrow.png) no-repeat center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  &.right {
    right: 10px;
    background: #e9e9eb url(./pictures/right-arrow.png) no-repeat center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  &.left:hover,
  &.right:hover {
    opacity: 1; // Полностью видимые кнопки
  }
}

.carousel {
  border-radius: 20px;
  overflow: hidden;
  margin: 20px 10px;
  position: relative;
  max-width: 100%;
}
.carousel-line {
  display: flex;
  transition: all ease 1s;
  position: relative;
}

.carousel-indicators {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);

  & > li {
    background: #e9e9eb; //цвет неактивного индикатора
    border: 1px solid #e9e9eb;
    border-radius: 2px;
    width: 20px;
    height: 2px;
    margin: 0 5px;
    list-style-type: none;
    cursor: pointer;
    &.active {
      background: #8306f7; //цвет активного индикатора
      border: 1px solid #8306f7;
      height: 2px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .header-container {
    justify-content: center;
  }
  .search-inp {
    margin-left: 55px;
  }
}
@media screen and (max-width: 1290px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-icon {
    margin-left: 35px;
    margin-bottom: 5px;
  }
  .search-inp {
    margin-left: 35px;
    width: 75%;
    padding: 12px 60px 12px 20px;
    font-size: 16px;
  }
  .basket-btn {
    height: 50px;
    width: 50px;
  }
}
@media screen and (max-width: 860px) {
  .header {
    height: 90px;

    .header-icon {
      display: none;
    }
  }
  .search-inp {
    width: 70%;
  }
  .basket-btn:before {
    width: 26px;
    height: 26px;
    line-height: 26px;
  }
  .basket-btn.active {
    width: 6rem;
  }
  .basket-btn.active > img {
    margin-left: -2rem;
  }
  .carousel {
    border-radius: 10px;
  }
  .carousel-btn.left,
  .carousel-btn.right {
    width: 30px;
    height: 30px;
  }
  .carousel-indicators > li {
    width: 10px;
    height: 1px;
    margin: 0 3px;
  }
}
@media screen and (max-width: 670px) {
  .search-inp {
    width: 65%;
    margin-left: 25px;
    padding: 10px 60px 10px 10px;
  }
  .basket-btn {
    height: 46px;
    width: 46px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    height: 80px;
  }
  .search-inp {
    margin-left: 15px;
    width: 60%;
    font-size: 14px;
    padding: 8px 60px 8px 8px;
  }
  .basket-btn.active {
    width: 5rem;
  }
  .basket-btn.active > img {
    margin-left: -2rem;
  }
  .carousel-btn.left {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
  .carousel-btn.right {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
@media screen and (max-width: 480px) {
  .search-inp {
    width: 55%;
  }
}
$clr: rgb(125, 58, 123);
.basket__modal {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2d2d2d80;
  width: 100%;
  height: 100%;
  overflow: auto;

  &-container {
    z-index: 20;
    position: relative;
    top: 10%;
    left: 10%;
    background-color: #f6f3f3;
    border-radius: 9px;
    width: 75%;
    height: 75%;
    overflow: auto;

    .basket__wrap {
      // display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .basket__empty-basket {
      color: #ff6f00;
      font-size: 4.5vw;
      align-items: center;
      margin-top: 15vh;
    }
    .closeButton {
      &:hover,
      &:focus {
        color: $clr;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
.basket__main-container {
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  padding: 15px;
  width: 80%;
  font-family: icomoon;
  display: flex;
  background: white;
  border: 2px solid #fcfcfc;
  border-radius: 9px;
  box-shadow: 0 0px 10px #2219194d;

  .basket__modal-description {
    margin-left: 60px;
  }

  .basket__modal-title {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #a73afd;
    text-shadow: 2px 2px 4px rgba(57, 13, 54, 0.5),
      -1px -1px 0 rgba(255, 255, 255, 0.2);
    margin-bottom: 7px;
    margin-right: 15px;
  }

  .basket__modal-price {
    font-size: 20px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;
  }
  .basket__img-wrapper {
    width: 100px;
  }
  .basket__modal-img {
    object-fit: cover;
    border-radius: 5px;
    width: 100%;
    height: auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }

  .basket__btn-buy {
    color: #a73afd;
    background: rgb(237, 237, 237);
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
  }
  .basket__btn-delete {
    background: rgb(237, 237, 237);
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./pictures/remove.png);
    width: 37px;
    height: 37px;
  }

  .counter {
    background: #ededed;
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    padding: 6px;
    display: inline-block;
  }
  /* Отключение стандартного внешнего вида стрелок в input */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .button-count-plus,
  .button-count-minus {
    padding: 0px 6px;
    font-size: 18px;
    color: #a73afd;
  }
  .button-count-number {
    width: 20px;
    font-size: 18px;
    padding: 0px 6px;
    background: #ededed;
    text-align: center;
    line-height: 20px;
  }
}
.basket__result {
  background-color: #ff6f00;
  color: white;
  border: 3px solid #ea6804;
  border-radius: 9px;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 40px;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin-top: 30px;
}
.basket__popup-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border: 2px solid #fcfcfc;
  padding: 15px;
  border-radius: 5px;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 0 10px #2219194d;
}

#basket__modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 900px) {
  .basket__main-container {
    margin-left: 0;

    & .basket__modal-description {
      margin-left: 30px;
    }
  }
}
@media (max-width: 680px) {
  .basket__main-container {
    .basket__modal-description {
      margin-left: 20px;
    }

    .basket__modal-title,
    .basket__modal-price,
    .button-count-number {
      font-size: 16px;
    }

    .basket__btn-buy {
      font-size: 14px;
      padding: 8px;
    }
  }
}

@media (max-width: 500px) {
  .basket__main-container {
    .basket__modal-title,
    .basket__modal-price,
    .button-count-number {
      font-size: 14px;
    }

    .counter {
      padding: 4px;
    }

    .basket__btn-delete {
      width: 34px;
      height: 34px;
    }
  }
}
@mixin rating($colorCode) {
  content: $colorCode;
  margin-right: 5px;
  font-family: "icomoon";
  color: $dark-yellow;
  font-size: 12px;
}

.discount_price {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  color: $light-purple;
}
.price {
  display: inline-block;
  color: $moderate-gray;
  text-decoration: line-through;
}
.discount_signature {
  margin: 5px 0 10px 0;
  font-size: 12px;
  color: $light-purple;
}

@font-face {
  font-family: "icomoon";
  src: url("../../icomoon/fonts/icomoon.ttf") format("truetype");
}

.container {
  max-width: 1640px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon-cart {
  position: absolute;
  right: 5px;
  bottom: 37%;
  font-size: 26px;
  color: #fff;
  transition: 0.2s all;
  cursor: pointer;

  &:active {
    transform: scale(1.2);
  }
}
.products {
  padding: 40px 0 50px;
  font-family: Arial, Helvetica, sans-serif;
  &__title {
    text-transform: uppercase;
    margin: 0 0 30px 50px;
    color: #606060;
    font-size: 20px;
    font-weight: 600;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(6, calc((100% - 5 * 15px) / 6));
    gap: 35px 15px;
  }
  &__modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2d2d2d80;
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  &__modal-content {
    display: grid;
    grid-template-columns: 55% 45%;
    position: relative;
    background: #f1eeee;
    width: 65%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &__img-wrapper {
    overflow: hidden;
    height: 100%;
  }
  &__modal-img {
    width: 100%;
    height: 100%;
    transform-origin: center;
    object-fit: cover;
  }
  &__modal-description {
    padding: 30px;
  }
  &__modal-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    transition: color 0.1s;
    &:hover {
      cursor: pointer;
      color: $light-purple;
    }
  }
  &__modal-review {
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
  }
  &__modal-evaluation {
    color: $light-gray;
    border-bottom: 1px dashed $light-gray;
    &:hover {
      cursor: pointer;
      color: #3f3e3e;
    }
  }
  &__modal-rating::before {
    @include rating("\e9d9");
  }
  &__modal-article {
    position: relative;
    color: $moderate-gray;
    &::after {
      content: url(./pictures/icon-copy.svg);
      margin-left: 5px;
      position: absolute;
    }
    &:hover {
      cursor: pointer;
      color: #3f3e3e;
    }
  }
  &__modal-discountprice {
    @extend .discount_price;
  }
  &__modal-price {
    @extend .price;
  }
  &__modal-wbwallet {
    @extend .discount_signature;
  }
  &__modal-photos {
    height: 100px;
    display: flex;
    gap: 4px;
    margin: 15px 0;
    overflow: hidden;
    border: 3px solid transparent;
    &:hover .products__modal-quickview--img {
      display: block;
    }
  }
  &__modal-photos--item {
    width: 90px;
    border-radius: 7px;
    border: 3px solid transparent;
    cursor: pointer;
    &.active {
      border: 3px solid #a73afd;
    }
  }
  &__modal-quickview--img {
    width: 150px;
    height: 180px;
    position: absolute;
    left: 25%;
    top: 110%;
    border-radius: 7px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  &__modal-quickview {
    position: relative;
    &:hover .products__modal-colorImg {
      opacity: 1;
    }
  }
  &__modal-icon-cart {
    position: static;
    width: 100%;
    padding: 7px 0;
    background: $light-purple;
    font-size: 19px;
    border-radius: 13px;
    &::before {
      font-size: 15px;
    }
  }
  &__btn--closemodal {
    position: absolute;
    right: 7px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 2px;
      background-color: $light-gray;
      transform-origin: center;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
.product {
  &__card {
    position: relative;
  }
  &__price {
    @extend .price;
  }
  &__discount {
    position: absolute;
    top: 85%;
    left: 10px;
    padding: 1px 4px;
    border-radius: 5px;
    background-color: #ff4444;
    font-size: 12px;
    color: #ffffff;
    animation: showDiscount 0.1s linear forwards;
  }
  &__discount-price {
    @extend .discount_price;
  }
  &__discount-signature {
    @extend .discount_signature;
  }
  &__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 8px;
  }
  &__category {
    white-space: nowrap;
  }
  &__name {
    color: $light-gray;
  }
  &__rating {
    margin-right: 10px;
  }
  &__review {
    display: flex;
    margin-bottom: 10px;
  }
  &__evaluation {
    color: $light-gray;
  }
  &__rating::before {
    @include rating("\e9d9");
  }
  &__img-wrapper {
    position: relative;
    padding-top: calc(100% * (330 / 240));
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    &:hover .product__discount {
      animation: hide 0.1s linear forwards;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__btn--quickview {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 11px 0;
    background: #ffffffd9;
    color: #181818;
    border-radius: 0 0 11px 11px;
    animation: showBtnQuickView 0.2s linear forwards;
  }
  &__btn--quickview.show {
    display: block;
  }
  &__btn--addtobasket {
    display: none;
  }
}

@keyframes showBtnQuickView {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showDiscount {
  from {
    display: none;
    opacity: 0;
  }
  to {
    display: block;
    opacity: 1;
  }
}
@keyframes hide {
  from {
    display: block;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 1250px) {
  .products {
    &__container {
      justify-content: space-between;
      grid-template-columns: repeat(4, calc((100% - 3 * 18px) / 4));
      gap: 35px 18px;
    }
    &__modal-title {
      font-size: 20px;
    }
    &__btn--closemodal {
      &::before,
      &::after {
        width: 16px;
      }
    }
    &__modal-description {
      padding: 18px;
    }
    &__modal-evaluation,
    &__modal-article {
      font-size: 12px;
    }
    &__modal-article {
      &::after {
        top: -1px;
      }
    }
    &__modal-review {
      gap: 10px;
    }
    &__modal-rating {
      font-size: 13px;
    }
    &__modal-wbwallet {
      font-size: 11px;
    }
    &__modal-photos--item {
      object-fit: cover;
      min-width: 70px;
      min-height: 85px;
    }
  }
}
@media (max-width: 880px) {
  .products {
    &__title {
      font-size: 17px;
    }
    &__container {
      grid-template-columns: repeat(4, calc((100% - 3 * 10px) / 4));
      gap: 35px 10px;
    }
  }
  .product {
    &__btn--quickview {
      display: none !important;
      font-size: 14px;
    }
    &__img-wrapper {
      pointer-events: none;
      margin-bottom: 10px;
    }
    &__discount-price {
      font-size: 16px;
    }
    &__price,
    &__title,
    &__rating,
    &__evaluation {
      font-size: 13px;
    }
    &__title {
      margin-bottom: 5px;
    }
    &__discount-signature {
      margin: 2px 0 7px 0;
    }
  }
}
@media (max-width: 760px) {
  .icon-cart {
    bottom: 33%;
  }
  .products {
    &__container {
      grid-template-columns: repeat(3, calc((100% - 2 * 10px) / 3));
    }
    &__title {
      margin: 0 0 20px 50px;
    }
  }
}
@media (max-width: 650px) {
  .icon-cart {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 7px 0;
    font-size: 15px;
    background-color: $light-purple;
    border-radius: 11px;
    text-align: center;
    &::after {
      content: "Добавить в корзину";
      margin-left: 10px;
      font-family: Arial, Helvetica, sans-serif;
      color: #fff;
      font-size: 12px;
      font-weight: 600;
    }
  }
  .products {
    padding: 20px 0 20px;
    &__container {
      grid-template-columns: repeat(2, calc((100% - 10px) / 2));
    }
  }
}
@media (max-width: 430px) {
  .icon-cart {
    font-size: 13px;
    &::after {
      font-size: 11px;
    }
  }
  .products {
    padding: 20px 0 20px;
    &__container {
      grid-template-columns: repeat(2, calc((100% - 6px) / 2));
      gap: 25px 6px;
    }
    &__title {
      font-size: 15px;
      margin-left: 10px;
    }
  }
  .product {
    &__btn--quickview {
      font-size: 12px;
    }
    &__discount {
      font-size: 10px;
    }
    &__discount-price {
      margin-right: 7px;
    }
    &__price,
    &__title,
    &__rating,
    &__evaluation {
      font-size: 11px;
    }
  }
}
@media (max-width: 390px) {
  .container {
    padding: 0 10px;
  }
  .icon-cart {
    font-size: 11px;
    &::after {
      margin-left: 7px;
      font-size: 10px;
    }
  }
  .products {
    padding: 10px 0;
    &__title {
      margin: 0 0 15px 20px;
      font-size: 14px;
    }
    &__container {
      grid-template-columns: repeat(2, calc((100% - 8px) / 2));
      gap: 25px 8px;
    }
  }
  .product {
    &__img-wrapper {
      margin-bottom: 10px;
    }
    &__discount {
      font-size: 11px;
    }
    &__discount-price {
      font-size: 15px;
    }
    &__price {
      font-size: 13px;
    }
    &__title {
      font-size: 13px;
      margin-bottom: 5px;
    }
    &__rating,
    &__evaluation {
      font-size: 12px;
    }
    &__rating {
      margin-right: 7px;
    }
    &__btn--quickview {
      font-size: 11px;
      padding: 7px 0;
    }
  }
}
